name: Local Test Action

on: [push]

jobs:
  custom_test:
    runs-on: ubuntu-latest
    name: Local test with act
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get Issue Body
        uses: ./
        id: parser
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-id: 150
      - name: Get Issue Body
        run: echo "${{ steps.parser.outputs.body }}"